%%目录的配置
{
	%% 工作目录
	{work_dir, 		"../"}, 
	%% Sql目录
	{sql_dir,		"../sql/"},
	%% 打包输出目录
	{target_dir,	"../____server_pak____"}
}.

{	
	{
		install,
		[
			%%拷贝的路径和文件正则规则配置
			{{child_dir, "gameserver/data"}, {copy_ext, [".+\\.app",".+\\.txt.tmp"]}},
			{{child_dir, "gameserver/ebin"}, {copy_ext, [".+\\.beam"]}},
			{{child_dir, "gameserver/script"}, {copy_ext, [".+\\.sh", "reload+\\.erl$", "stop_server+\\.erl$"]}},
			{{child_dir, "gameserver/data/maps"}, {copy_ext, [".+\\.bytes$"]}}
		]
	},
	{
		update,
		[
			{{child_dir, "gameserver/ebin"}, {copy_ext, [".+\\.beam"]}}
		]
	}
	
}.


