%%目录的配置
{
	%% 工作目录
	{work_dir, 		"../"}, 
	%% Sql目录
	{sql_dir,		"../sql_package/"},
	%% 打包输出目录
	{target_dir,	"../____server_pak____"}
}.

{	
	{
		install,
		[
			%%拷贝的路径和文件正则规则配置
			{{child_dir, "gameserver/data"}, {copy_ext, [".+\\.app","GameServer+\\.enc$","Operations+\\.enc$"]}},
			{{child_dir, "gameserver/ebin"}, {copy_ext, [".+\\.beam"]}},
			{{child_dir, "gameserver/script"}, {copy_ext, ["start+\\.sh$", "stop+\\.sh$", "reload+\\.sh$", "reload+\\.beam$", "stop_server+\\.beam$"]}}
			%%{{child_dir, "gameserver/data/maps"}, {copy_ext, [".+\\.bytes$"]}}
		]
	},
	{
		update,
		[
			{{child_dir, "gameserver/ebin"}, {copy_ext, [".+\\.beam"]}}
		]
	}
	
}.


