%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% escript_incl_extra is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
{escript_incl_extra, [{"priv/templates/*", "."}]}.
%% Erlang compiler options

{erl_opts,
	[
		debug_info,
		{i, "../include/common"},
		{i, "../include"},
		{i, "../src/netmsg"},
		{i, "../src/config"},
		{i, "../src/database/emysql/include"},
		{outdir,"../ebin"}
	]}.

{deps, []}.

{cover_enabled, true}.
