%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% escript_incl_extra is for internal rebar-private use only.
%% Do not use outside rebar. Config interface is not stable.
{escript_incl_extra, [{"priv/templates/*", "."}]}.
%% Erlang compiler options

{erl_opts,
	[
		debug_info,
		{i, "include/common"},
		{i, "include"},
		{i, "src/netmsg"},
		{i, "src/config"},
		{i, "src/database/emysql/include"}

%%		{src_dirs,
%%			[
%%				"src",
%%				"src/*",
%%				"src/*/*"
%%			]
%%		}
	]}.

{deps, []}.

{cover_enabled, true}.

{pre_hooks,[
%%	{"win32", compile, "escript.exe ./support/build_log_define.ers"}
%%	{"win32", compile, "escript.exe ./support/build_db_record.ers"}
%%	{"linux|bsd|darwin|solaris", compile, "escript ./support/build_log_define.ers"}
	%%{"win32", compile, "escript.exe ./support/process_dict_build.ers"}
]}.